<!--footer start here-->
<div class="footer">
  <div class="container">
    <div class="footer-main">
      <div class="footer-top">

      </div>
      <div class="footer-bottom">
        <div class="col-md-5 footer-grid">
          <span class="phone"><img src="static/images/phone.png" alt=""> </span>
          <div class="footer-text">
            <p>Call :<span class="foot">+1258 884 625</span></p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="col-md-6 footer-grid">
          <span class="phone"><img src="static/images/email.png" alt=""> </span>
          <div class="footer-text">
            <p>Email :<a href="mailto:info@logista24.ee"><span class="foot">info@logista24.ee</span></a></p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <!-- <div class="col-md-4 footer-grid">
                    <span class="phone"><img src="images/twi.png" alt=""> </span>
                    <div class="footer-text">
                        <p>Follow Us:<a href="#"><span class="foot">@Lorem ipsum</span></a></p>
                    </div>
                  <div class="clearfix"> </div>
                </div> -->
        <div class="clearfix"> </div>
        <div class="copyright">
          <p>© 2015 Logista24</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--footer end here-->
